div.title {
    text-align: center;
    background: -webkit-linear-gradient(0deg, #FF0000, #0000FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: solid 1px black;
    border-radius: 10px;
}
div.frame {
    border: solid 1px black;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
}
div.next-button-div{
    text-align: center;
}
.next-button{
    margin: 10px auto;
    width: 200px;
    /* height: 50px; */
}